n8n-workflow/newsletter-automation.json
{
  "meta": {
    "instanceId": "54fb719d5b0e5b5102fd0c1b6b25e6b4adb490c4cb18b8050cf60ba31d8bb366"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "acd5b1fe-4c57-4d49-9c22-bc49e3dd6de8",
      "name": "Schedule: Daily 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GAS_WEBHOOK_URL }}?action=subscribers",
        "options": {}
      },
      "id": "b8f3e4f2-6d4a-4c5f-9f8e-7a3b2c1d9e8f",
      "name": "Get Subscribers from GAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET", 
        "url": "={{ $env.GAS_WEBHOOK_URL }}?action=templates",
        "options": {}
      },
      "id": "c9g4h5j6-7e5a-4f6b-8c9d-8b4c3d2e1f0a",
      "name": "Get Email Templates from GAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c05da66b-3e7b-4d4c-9a7f-5e2f1a8b9c3d",
              "leftValue": "={{ $json.daysSinceSignup }}",
              "rightValue": "1",
              "operator": {
                "type": "number",
                "operation": "equals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3g4-8f6b-4c7d-9e8f-9c5d4e3f2a1b",
      "name": "Check: Day 1 Users",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e1f2g3h4-9a7c-4d8e-af9b-ad6e5f4g3h2i",
              "leftValue": "={{ $json.daysSinceSignup }}",
              "rightValue": "3",
              "operator": {
                "type": "number",
                "operation": "equals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2g3h4i5-ab8d-4e9f-ba0c-be7f6g5h4i3j",
      "name": "Check: Day 3 Users",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "g3h4i5j6-bc9e-4fa0-cb1d-cf8g7h6i5j4k",
              "leftValue": "={{ $json.daysSinceSignup }}",
              "rightValue": "7",
              "operator": {
                "type": "number",
                "operation": "equals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h4i5j6k7-cd0f-4gb1-dc2e-dg9h8i7j6k5l",
      "name": "Check: Day 7 Users",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender",
              "value": "={{ {\"name\": \"人生の道標\", \"email\": \"dd.1107.11107@gmail.com\"} }}"
            },
            {
              "name": "to",
              "value": "={{ [{\"email\": $json.email, \"name\": $json.firstName + ' ' + $json.lastName}] }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Get Email Templates from GAS').item.json.day1.subject }}"
            },
            {
              "name": "htmlContent",
              "value": "={{ $('Get Email Templates from GAS').item.json.day1.content.replace('{firstName}', $json.firstName).replace('{lastName}', $json.lastName) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "i5j6k7l8-de1g-4hc2-ed3f-eh0i9j8k7l6m",
      "name": "Send Day 1 Email via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender",
              "value": "={{ {\"name\": \"人生の道標\", \"email\": \"dd.1107.11107@gmail.com\"} }}"
            },
            {
              "name": "to",
              "value": "={{ [{\"email\": $json.email, \"name\": $json.firstName + ' ' + $json.lastName}] }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Get Email Templates from GAS').item.json.day3.subject }}"
            },
            {
              "name": "htmlContent",
              "value": "={{ $('Get Email Templates from GAS').item.json.day3.content.replace('{firstName}', $json.firstName).replace('{lastName}', $json.lastName) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "j6k7l8m9-ef2h-4id3-fe4g-fi1j0k9l8m7n",
      "name": "Send Day 3 Email via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender",
              "value": "={{ {\"name\": \"人生の道標\", \"email\": \"dd.1107.11107@gmail.com\"} }}"
            },
            {
              "name": "to",
              "value": "={{ [{\"email\": $json.email, \"name\": $json.firstName + ' ' + $json.lastName}] }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Get Email Templates from GAS').item.json.day7.subject }}"
            },
            {
              "name": "htmlContent",
              "value": "={{ $('Get Email Templates from GAS').item.json.day7.content.replace('{firstName}', $json.firstName).replace('{lastName}', $json.lastName) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "k7l8m9n0-fg3i-4je4-gf5h-gj2k1l0m9n8o",
      "name": "Send Day 7 Email via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GAS_WEBHOOK_URL }}?action=log_sent&email={{ $json.email }}&templateId=day1&subject={{ $('Get Email Templates from GAS').item.json.day1.subject }}&status=sent",
        "options": {}
      },
      "id": "l8m9n0o1-gh4j-4kf5-hg6i-hk3l2m1n0o9p",
      "name": "Log Day 1 Sent to GAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GAS_WEBHOOK_URL }}?action=log_sent&email={{ $json.email }}&templateId=day3&subject={{ $('Get Email Templates from GAS').item.json.day3.subject }}&status=sent",
        "options": {}
      },
      "id": "m9n0o1p2-hi5k-4lg6-ih7j-il4m3n2o1p0q",
      "name": "Log Day 3 Sent to GAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GAS_WEBHOOK_URL }}?action=log_sent&email={{ $json.email }}&templateId=day7&subject={{ $('Get Email Templates from GAS').item.json.day7.subject }}&status=sent",
        "options": {}
      },
      "id": "n0o1p2q3-ij6l-4mh7-ji8k-jm5n4o3p2q1r",
      "name": "Log Day 7 Sent to GAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        600
      ]
    }
  ],
  "connections": {
    "Schedule: Daily 10AM": {
      "main": [
        [
          {
            "node": "Get Subscribers from GAS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Email Templates from GAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscribers from GAS": {
      "main": [
        [
          {
            "node": "Check: Day 1 Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check: Day 3 Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check: Day 7 Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Day 1 Users": {
      "main": [
        [
          {
            "node": "Send Day 1 Email via Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Day 3 Users": {
      "main": [
        [
          {
            "node": "Send Day 3 Email via Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Day 7 Users": {
      "main": [
        [
          {
            "node": "Send Day 7 Email via Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 1 Email via Brevo": {
      "main": [
        [
          {
            "node": "Log Day 1 Sent to GAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 3 Email via Brevo": {
      "main": [
        [
          {
            "node": "Log Day 3 Sent to GAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 7 Email via Brevo": {
      "main": [
        [
          {
            "node": "Log Day 7 Sent to GAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-26T03:00:00.000Z",
      "updatedAt": "2025-07-26T03:00:00.000Z",
      "id": "newsletter-automation",
      "name": "Newsletter Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-26T03:00:00.000Z",
  "versionId": "a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p"
}